.contact{
  display: flex;
}
.contact-form {
    width: 400px;
    height: auto;
    margin-top: 20px;
  }
  
.contact-form > * {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
  }

.history{
    margin-top: -50px !important;
  }
p{
  background: gold;
}
.contact-form > label {
    position: absolute;
    margin-top: -34px;
    margin-left: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.71);
    transition: all 0.1s ease-out;
    pointer-events: none;
  }
.contact-form > input {
    box-shadow: 5px 5px 20px #333232;
    width: 300px;
    height: 50px;
    border: 1px solid rgba(230, 16, 16, 0.1);
    border-radius: 2px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    outline: none;
  }
  
.contact-form > textarea {
    box-shadow: 5px 5px 20px #333232;
    width: 300px;
    min-height: 60px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
    resize: none;
  }

.contact-form > input:focus + label,
  input:valid + label {
    margin-top: -78px;
    margin-left: 0px;
    color: #ffffff;
  }
  
.contact-form > textarea:focus + label,
  textarea:valid + label {
    margin-top: -100px !important;
    margin-left: 0px;
    color: #ffffff;
  }
button{
    width: 200px;
    height: 60px;
    border-radius: 999px;
    margin-left: 50px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.71);
    line-height: 60px;
    font-family: "Roboto";
    font-size: 1em;
    cursor: pointer;
    outline: none;
}
.contact-card {
    box-shadow: 5px 5px 20px #333232;
    width: 400px;
    height: auto;
    padding: 40px;
    border-radius: 4px;
    background: linear-gradient(#eff3ff, #dee2ed);
    display: inline-block;
  }
  
  .contact-card > .contact-profile {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0 auto;
    background: linear-gradient(#4cb4ff, #4c79ff);
    line-height: 140px;
    text-align: center;
    font-family: "Roboto";
    font-size: 48px;
  }
  
  .contact-card > .contact-info-container {
    margin-top: 40px;
    cursor: default;
  }
  
  .contact-card > .contact-info-container > .contact-info {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
  }
  
  .contact-card > .contact-info-container > .contact-data-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
  }
  
  .contact-card > .contact-info-container > .contact-data-container > div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 80%;
    word-break: break-word;
  }
  
  .contact-card > .contact-info-container > .contact-info > div {
    float: left;
    line-height: 60px !important;
  }
  
  .contact-data-container:last-child > .contact-data {
    margin-left: 16px !important;
  }
  
  .contact-data {
    font-family: "Roboto";
    font-size: 16px;
    margin-left: 20px;
    white-space: pre-wrap;
  }