<div class="contact">
    <div class="contact-form ">
        <input type="text" name="name" [(ngModel)]="name" placeholder="" required /> 
        <label>Имя</label>
        <input type="text" name="nickname" [(ngModel)]="nickname" placeholder="" required /> 
        <label>Никнейм</label>
        <input type="text" name="email" [(ngModel)]="email" placeholder="" required /> 
        <label>Email</label>
        <input type="phone" name="phone" [(ngModel)]="phone" placeholder="" required /> 
        <label>Телефон</label>
        <input type="text" name="direct" [(ngModel)]="dir" placeholder="" required /> 
        <label>Направление</label>
        <textarea placeholder="" name="info" [(ngModel)]="info" required></textarea>
        <label class="history">Кратко о себе</label>
        <button>Сохранить и отправить</button>   
    </div>

    <div class="contact-card">
        <div class="contact-profile">
        </div>
        <div class="contact-info-container">
          <div class="contact-info">
            <div class="material-icons">person</div>
            <div class="contact-data">{{name}}</div>
          </div>
          <div class="contact-info">
            <div class="material-icons">sentiment_satisfied</div>
            <div class="contact-data">{{nickname}}</div>
          </div>
          <div class="contact-info">
            <div class="material-icons">email</div>
            <div class="contact-data">{{email}}</div>
          </div>
          <div class="contact-info">
            <div class="material-icons">phone</div>
            <div class="contact-data">{{phone}}</div>
          </div>
          <div class="contact-info">
            <div class="material-icons">search</div>
            <div class="contact-data">{{dir}}</div>
          </div>
          <div class="contact-data-container">
            <div class="material-icons">notes</div>
            <div class="contact-data">{{info}}</div>
          </div>
        </div>
      </div>
</div>