/* You can add global styles to this file, and also import other style files */
body{
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066ff;
}